<div class="pantalla">

    <mat-card class="card animacionLateral">

        <div class="formulario">
            <i class="material-icons material-icons-outlined icono">cloud_off</i>

            <div class="mensaje">SE PRODUJO UN</div>
            <div class="mensaje"><b>ERROR</b></div>
            <div class="mensaje">{{message$ | async}}</div>
            <div class="contenedorDivisor"></div>
            <div class="mensaje2">Si el error persiste por favor comunicarse con:</div>
            <br>
            <div class="correo"><a href="mailto:desarrollo@econo.unlp.edu.ar?subject=Error%20de%20acceso&body={{data$}}">desarrollo@econo.unlp.edu.ar</a></div>
            <br>

            <div *ngIf="(data$ | async) as qrCode">
                <qrcode [qrdata]="qrCode | json" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
           
            <!-- 
            <div class="redireccion">...</div>
            <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar> 
            -->

        </div>
            
    </mat-card>
            
    <div class="footer animacionLateral"> DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
    <div class="version animacionLateral">
        <div><i class="material-icons">bubble_chart</i></div>
        <div>Versión {{version}}</div>  
    </div>

 </div>