<div class="pantalla">

    <mat-card class="card animacionLateral">

        <div class="formulario">
            <i class="material-icons material-icons-outlined icono">cloud_off</i>
            <div class="titulo">Se ha producido un <b>error</b>.</div>
            <div class="mensaje">¡Volve a intentar!, y si el error persiste por favor reportanos el error para resolver el inconveniente lo antes posible.</div>
            <!-- <div>{{message$ | async}}</div> -->
            <div class="contenedorDivisor"></div><br>
    
            <ng-container *ngIf="(data$ | async) as data">
                <!-- EL BOTON SE VE SOLO EN CELULAR -->
                <a mat-raised-button color="primary" class="boton" href="mailto:desarrollo@econo.unlp.edu.ar?subject=Error%20de%20acceso&body={{data | json}}">REPORTAR ERROR</a>
                <!-- PARA PC -->
                <div class="contenedorQR">
                    <div class="mensajeQR">Escanea el código QR con tu celular para reportar el error</div>
                    <qrcode [qrdata]="data | json" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </ng-container>

            <!-- <ng-container *ngIf="(data$ | async) as data">
                <div class="correo"><a href="mailto:desarrollo@econo.unlp.edu.ar?subject=Error%20de%20acceso&body={{data | json}}">desarrollo@econo.unlp.edu.ar</a></div>
                <br>
                <qrcode [qrdata]="data | json" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </ng-container> -->
            
            <!-- 
            <div class="redireccion">...</div>
            <mat-progress-bar mode="indeterminate" class="spiner" ></mat-progress-bar> 
            -->

        </div>
            
    </mat-card>
            
    <!-- <div class="footer animacionLateral"> DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</div>
    <div class="version animacionLateral">
        <div><i class="material-icons">bubble_chart</i></div>
        <div>Versión {{version}}</div>  
    </div> -->

 </div>